
table
{
	/*set style to the table*/
	border-collapse: collapse;
	width: auto;
	margin-top: 40px;
}
thead
{
	/*set color to thead / header*/
	background-color: lightgray;
}
thead tr th
{
	/*set alignment to the th*/
	text-align: center;
}
tbody tr td
{
	/*set min height to td*/
	min-height: 200px;

}
.table-wrap
{
	/*set overflow-x to auto mean that allow the table to scroll*/
	overflow-x:auto;
}
.product
{
	vertical-align: middle;
}
.product img
{
	/*set style to the image*/
	float: left;
	width: 100px;
	height: 120px;
	display: inline-block;
}
.product .descript
{
	padding: 20px;

}
.star span
{
	/*set color to the span in star bar*/
	color: orange;
}
tbody tr td .price
{
	text-align: center;
	padding: 40px 0;
}
.qty
{
	padding-top:40px;
	text-align: center;
}
select
{
	/*set width to select element*/
	width: 100px;
}
.remove
{
	/*remove icon's style*/
	padding-top:40px;
}
/* unvisited link */
a:link {
    color: orange;
}

/* visited link */
a:visited {
    color: orange;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: brown;
}
.additional
{
	/*div that wrap the additional option*/
	margin: 20px;
	padding: 20px 10px;
}

.change
{
	float: right;
}
.total
{
	/*make the total table to right*/
	float: right;
}
.subtotal tr td.totalresult
{
	/*set the color of total row to orange*/
	color: orange;
}